{% extends "base.html" %}

{% block content %}
    <h1>Categories</h1>
    <form method="post">
        <input type="submit" name="add_category" value="Add a Category">
    </form>
    <br>
    <table>
    <thead><tr><th>ID</th><th>Category</th><th>Points</th><th>Notes</th></tr></thead>
    <tbody>
    {% for row in rows %}
    <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.points }}</td>
        <td>{{ row.notes }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
