{% extends "base.html" %}

{% block content %}
    <h1>Submit Nominee</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.nominee.label }}<br>
            {{ form.nominee(cols=50, rows=1) }}<br>
            {% for error in form.nominee.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.year.label }}<br>
            {{ form.year(cols=5, rows=1) }}<br>
            {% for error in form.year.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
